results/**
resources/**
logs/**
.snakemake
.snakemake/**
.idea/


.test/.cache/
.test/.conda/
.test/.condarc
.test/benchmarks/
.test/data/A/fastq/pass.fq.gz.index
.test/data/A/fastq/pass.fq.gz.index.fai
.test/data/A/fastq/pass.fq.gz.index.gzi
.test/data/B/fastq/pass.fq.gz.index
.test/data/B/fastq/pass.fq.gz.index.fai
.test/data/B/fastq/pass.fq.gz.index.gzi
.test/logs/
.test/results/
